@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    line-height: 1.625;
  }
}

*,
*::after,
*::before {
  @apply p-0 m-0 box-border;
}

:root {
  --bg-color: hsl(45, 10%, 95%);
  --text-color: hsl(0, 0%, 15%);
  --text-color2: hsl(0, 10%, 25%);
}

html,
body {
  @apply min-h-dvh max-w-screen-2xl mx-auto bg-bgColor text-textColor2 font-baskerville;
}

h1,
h2,
h3,
h4,
h5 {
  @apply text-textColor font-bold;
}

#root {
  @apply animate-fadeInSlow min-h-dvh grid grid-rows-[auto_1fr_auto];
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/noise.svg");
  background-size: cover;
  opacity: 0.5;
  z-index: 10;
  pointer-events: none;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--text-color);
  transition: width 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
}
